body {
    text-align: center;
    font-family: Serif;
    font-style: oblique;
    background: linear-gradient(#1D4350, #A43931);
    background-attachment: fixed;
    font-size: 18px;
}

span {
    border-radius: 50%;
    display: inline-block;
    border-width: 225px;
}

.black {
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
    background: radial-gradient(circle, rgb(78, 78, 78) 0%, black 100%);
    border-radius: 50%;
    margin: 5vw auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white {
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: calc(50% - min(10vw, 100px));
    margin: auto;
    display: flex;
    cursor: pointer;
}

.eight {
    font-size: 8vw;
    font-weight: bold;
    color: black;
    margin: auto;
    align-self: center;
    text-align: center;
    user-select: none;
}

.shake {
    animation: shake 0.5s ease;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

.answers {
    font-size: 32px;
}

    .answers p {
        animation: fadeIn 1s ease-in-out;
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
